<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UConn Sentiment Data Manager</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <h1>UConn Sentiment Data Manager</h1>

    <!-- Menu Buttons -->
    <button type="button" disabled>Edit Company Info</button>
    <a href="topics"><button>Edit Topics</button></a>
    <a href="view_data"><button>View Data</button></a>

    <hr>

    <h2>Add Company Info</h2>

    <form action="/submit_company_info" method="post">

        <label for="yahoo_ticker">Yahoo Ticker:</label>
        <input type="text" id="yahoo_ticker" name="yahoo_ticker"><br><br>


        <label for="industry">Industry:</label>
        <input type="text" id="industry" name="industry"><br><br>

        <label for="long_name">Long Name:</label>
        <input type="text" id="long_name" name="long_name"><br><br>

        <input type="submit" value="Submit">
    </form><br>

    <button type="button" onclick="refreshDataPlot()">Revert</button>
    <button type="button" onclick="">Save</button>

    <iframe id="data_plot" title="Data Plot" style="border:none;" width="100%" height="600"
        src="/dataplots/company_data_table/">
    </iframe>

    <script>
        function refreshDataPlot() {
            document.getElementById('data_plot').contentDocument.location.reload(true);
        }
    </script>

</body>

</html>