<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>UConn Sentiment Data Manager</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>

<body>

    <div class="menuBar">
      <h1 class="topText">UConn Sentiment Data Manager</h1>
    
      <hr>
    </div>
  
    <div class="sideNav" id="sideNav">
      <a href="company_info"><button class="menuButton"><span class="material-symbols-outlined">add_business</span></button></a>
      <a href="topics"><button class="menuButton"><span class="material-symbols-outlined">fact_check</span></button></a>
      <a href="view_data"><button class="menuButton"><span class="material-symbols-outlined">query_stats</span></button></a>
      <button class="menuButton" type="button" disabled><span class="material-symbols-outlined">developer_board</span></button>
  
      <a href="#"><button class="logoutButton"><span class="material-symbols-outlined">logout</span></button></a>
    </div>
    
    <div id="div-page-mask" style="display: none;"></div>

    <div id="div-main-content">
      <h2>Model Control</h2>

      <div id="div-create-task">
        <h3>Step 1. Input</h3>
        <button onclick="showUploadDialog()">Upload File</button>
        <dialog open id="dialog-upload_file" style="display: none;">
          <iframe src="/upload_prompt" style="border: none;" scrolling="no"></iframe>
        </dialog><br><br>

        <label>Select Data:</label>
        <input type="text" disabled>
        <button>...</button>

        <h3>Step 2. Settings</h3>
        <label>Company Info Selection:</label>
        <input type="text" disabled>
        <button>...</button><br><br>

        <label>Keyword List</label>
        <input type="text" disabled>
        <button>...</button><br><br>

        <h3>Step 3. Confirm and Output</h3>
        <label>Kind output:</label>
        <input type="text" disabled><br><br>

        <button class="submitButton">Submit for Processing</button>

      </div>
    </div>

    <script>
      function maskPage(){
        document.getElementById("div-page-mask").style.display = "block"
      }
      function unmaskPage(){
        document.getElementById("div-page-mask").style.display = "none"
      }

      function showUploadDialog(){
        maskPage()
        document.getElementById("dialog-upload_file").style.display = "block"
      }
      function hideUploadDialog(){
        unmaskPage()
        document.getElementById("dialog-upload_file").style.display = "none"
      }
    </script>

</body>
</html>