<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UConn Sentiment Data Manager</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>

<div class="menuBar">
<h1 class="topText">UConn Sentiment Data Manager</h1>

<!-- Menu Buttons -->

<hr>
</div>

<div class="sideNav">
    <a href="company_info"><button class="menuButton"><span class="material-symbols-outlined">add_business</span></button></a>
    <button class="menuButton" type="button" disabled><span class="material-symbols-outlined">fact_check</span></button>
    <a href="view_data"><button class="menuButton"><span class="material-symbols-outlined">query_stats</span></button></a>
    <a href="control"><button class="menuButton"><span class="material-symbols-outlined">developer_board</span></button></a>

    <a href="#"><button class="logoutButton"><span class="material-symbols-outlined">logout</span></button></a>
</div>

<div id="div-page-mask" style="display: none;"></div>

<h2>Edit Keyword Lists</h2>

<!-- <form action="/submit_company_info" method="post">

        <label for="Sector">Sector:</label>
        <input type="text" id="sector" name="sector"><br><br>
    

        <label for="classification">Classification:</label>
        <input type="text" id="classification" name="industry"><br><br>

        <label for="keyword">Keyword:</label>
        <input type="text" id="keyword" name="long_name"><br><br>

        <input type="submit" value="Submit">
    </form><br> -->

<select>
    {% for kind in kinds %}
        <option value="{{  kind  }}">{{  kind  }}</option>
    {% endfor %}
</select>

<button onclick="showNewListDialog()">New list</button><br>

<dialog id="dialogNewList" open style="display: none;">
    <button onclick="hideNewListDialog()">X</button>
    <label>Name New List</label>
    <input type="text">
    <button>Create</button>
</dialog>

<button type="button" onclick="">Revert</button>
<button type="button" onclick="">Save</button>

<script>
    function maskPage() {
      document.getElementById("div-page-mask").style.display = "block"
    }
    function unmaskPage() {
      document.getElementById("div-page-mask").style.display = "none"
    }

    function showNewListDialog(){
        maskPage()
        document.getElementById('dialogNewList').style.display = "block"
    }
    function hideNewListDialog(){
        unmaskPage()
        document.getElementById('dialogNewList').style.display = "none"
    }
</script>

</html>