<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>UConn Sentiment Data Manager</title>
    </head>

    <h1>UConn Sentiment Data Manager</h1>

        <!-- Menu Buttons -->
        <a href="company_info"><button>Edit Company Info</button></a>
        <button type="button" disabled>Edit Topics</button>
        <a href="view_data"><button>View Data</button></a>
      
    <h2>Add Topics</h2>

    <form action="/submit_company_info" method="post">

        <label for="Sector">Sector:</label>
        <input type="text" id="sector" name="sector"><br><br>
    

        <label for="classification">Classification:</label>
        <input type="text" id="classification" name="industry"><br><br>

        <label for="keyword">Keyword:</label>
        <input type="text" id="keyword" name="long_name"><br><br>

        <input type="submit" value="Submit">
    </form><br>

    <button type="button" onclick="refreshDataPlot()">Revert</button>
    <button type="button" onclick="">Save</button>

    <iframe
    id="data_plot"
    title="Data Plot"
    style="border:none;"
    width="100%"
    height="600"
    src="/dataplots/topic_data_table/">
    </iframe>

    <script>
        function refreshDataPlot(){
                document.getElementById('data_plot').contentDocument.location.reload(true);
            }
    </script>
</html>