<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UConn Sentiment Data Manager</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <style>
        body {
            margin-left: 0;
            padding-left: 0;
        }
    </style>
</head>

<body>
    <button onclick="parent.hideUploadDialog()">X</button>
    <label style="font-weight: bold;">Upload File</label><hr>
    <form action="/upload_file" method="post" enctype="multipart/form-data">
        <label for="filetype">File Type:</label>
        <select name="filetype" id="filetype">
            <option value="CC">Conference Call Transcript</option>
        </select><br><br>
        <input type="file" id="file_upload" name="file_upload"><br><br>
        <input id="submit" type="submit" value="Upload" disabled>
        <label>Max size: 2MB</label>
    </form>
</body>
<script>
    file_upload.onchange = function () {
        if (this.files[0].size < 2097152) {
            document.getElementById("submit").disabled = false
        }
        else {
            alert("File is larger than 2MB");
            this.value = "";
        }
    };
</script>

</html>