<!DOCTYPE html>
<html lang="en">
  <style>
    /* Center the loader */
    .loader {
      position: absolute;
      left: 50%;
      top: 50%;
      border: 16px solid #f3f3f3; /* Light grey */
      border-top: 16px solid #000E2F; /* Blue */
      border-bottom: 16px solid #000E2F;
      border-radius: 50%;
      width: 120px;
      height: 120px;
      animation: spin 2s linear infinite;
    }
    
    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
    </style>

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UConn Sentiment Data Manager</title>
  </head>

  <body>

    <h1>UConn Sentiment Data Manager</h1>
    
    <a href="company_info"><button>Edit Company Info</button></a>
    <a href="topics"><button>Edit Topics</button></a>
    <button type="button" disabled>View Data</button>

    <hr>

    <h2>View Sentiment Data</h2>

    <label for="view_ticker">By Ticker:</label>
    <input type="text" id="ticker" name="Ticker">

    <select name="operator" id="operator" hidden="hidden">
      <option value="OR">OR</option>
      <option value="AND">AND</option>
    </select>

    <label for="view_industry" hidden="hidden">By Industry:</label>
    <input type="text" id="industry" name="industry" hidden="hidden"><br><br>

    <label for="view_data_range" hidden="hidden">Date Range</label>
    <input type="month" id="start-month" name="start-month" hidden="hidden">
    <input type="month" id="end-month" name="end-month" hidden="hidden"><br><br>

    <input id="viewPlot" type="button" value="View Plot" onclick="viewPlot()">
    <input id="viewTable" type="button" value="View Table" onclick="viewTable()" hidden="hidden"><br><br>

    <div class="loader" id="loader" style="display: none;"></div>

    <iframe
    id="data_plot"
    title="Data Plot"
    style="border:none;"
    width="100%"
    height="600"
    src="/dataplot_placeholder">
    </iframe>

    <script>
      function hideSpinner(){
        document.getElementById("loader").style.display = "none";
        document.getElementById("viewPlot").disabled = false
        document.getElementById("viewTable").disabled = false
        
      }

      function showSpinner(){
        document.getElementById("loader").style.display = "block";
        document.getElementById("viewPlot").disabled = true
        document.getElementById("viewTable").disabled = true
      }

      function viewPlot(){
        let tickerText = document.getElementById("ticker").value;
        if (tickerText == "") {
          alert("Input Needed")
          return
        }
        tickerText.replace(/%20/g, " ")
        document.getElementById("data_plot").setAttribute("src", "/dataplots/data_plot?ticker="+tickerText)

        showSpinner()
        setTimeout(hideSpinner, 7500)
      }

      function viewTable(){
        let tickerText = document.getElementById("ticker").value;
        if (tickerText == "") {
          alert("Input Needed")
          return
        }
        tickerText.replace(/%20/g, " ")
        document.getElementById("data_plot").setAttribute("src", "/dataplots/data_table?ticker="+tickerText)

        showSpinner()
        setTimeout(hideSpinner, 7500)
      }

      
    </script>

  </body>

</html>