<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>UConn Sentiment Data Manager</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

  <div class="menuBar">
    <h1 class="topText">UConn Sentiment Data Manager</h1>

    <a href="company_info"><button class="menuButton" >Edit Company Info</button></a>
    <a href="topics"><button class="menuButton" >Edit Topics</button></a>
    <button class="menuButton" type="button" disabled>View Data</button>
  
    <hr>
  </div>

  <h2>View Sentiment Data</h2>

  <label for="view_ticker">By Ticker:</label>
  <input type="text" id="ticker" name="Ticker">

  <select name="operator" id="operator">
    <option value="OR">OR</option>
    <option value="AND">AND</option>
  </select>

  <label for="view_industry">By Industry:</label>
  <input type="text" id="ticker" name="Ticker"><br><br>

  <label for="view_data_range">Date Range</label>
  <input type="month" id="start-month" name="start-month">
  <input type="month" id="end-month" name="end-month"><br><br>

  <input class="submitButton" id="viewPlot" type="button" value="View Plot" onclick="viewPlot()">
  <input class="submitButton" id="viewTable" type="button" value="View Table" onclick="viewTable()"><br><br>

  <div class="loader" id="loader" style="display: none;"></div>

  <iframe id="data_plot" title="Data Plot" style="border:none;" width="100%" height="600" src="/dataplot_placeholder">
  </iframe>

  <hr>

  <script>
    function hideSpinner() {
      document.getElementById("loader").style.display = "none";
      document.getElementById("viewPlot").disabled = false
      document.getElementById("viewTable").disabled = false

    }

    function showSpinner() {
      document.getElementById("loader").style.display = "block";
      document.getElementById("viewPlot").disabled = true
      document.getElementById("viewTable").disabled = true
    }

    function viewPlot() {
      let tickerText = document.getElementById("ticker").value;
      if (tickerText == "") {
        alert("Input Needed")
        return
      }
      tickerText.replace(/%20/g, " ")
      document.getElementById("data_plot").setAttribute("src", "/dataplots/data_plot?ticker=" + tickerText)

      showSpinner()
      setTimeout(hideSpinner, 7500)
    }

    function viewTable() {
      let tickerText = document.getElementById("ticker").value;
      if (tickerText == "") {
        alert("Input Needed")
        return
      }
      tickerText.replace(/%20/g, " ")
      document.getElementById("data_plot").setAttribute("src", "/dataplots/data_table?ticker=" + tickerText)

      showSpinner()
      setTimeout(hideSpinner, 7500)
    }


  </script>

</body>

</html>