<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UConn Sentiment Data Manager</title>
  </head>

  <body>

    <h1>UConn Sentiment Data Manager</h1>
    
    <a href="company_info"><button>Edit Company Info</button></a>
    <a href="topics"><button>Edit Topics</button></a>
    <button type="button" disabled>View Data</button>

    <h2>View Sentiment Data</h2>

    <label for="view_ticker">By Ticker:</label>
    <input type="text" id="ticker" name="Ticker">

    <select name="operator" id="operator">
      <option value="OR">OR</option>
      <option value="AND">AND</option>
    </select>

    <label for="view_industry">By Industry:</label>
    <input type="text" id="ticker" name="Ticker"><br><br>

    <label for="view_data_range">Date Range</label>
    <input type="month" id="start-month" name="start-month">
    <input type="month" id="end-month" name="end-month"><br><br>

    <input type="button" value="View Plot">
    <input type="button" value="View Table"><br><br>


    <iframe
    id="data_plot"
    title="Data Plot"
    style="border:none;"
    width="100%"
    height="600"
    src="/dataplots/data_plot?ticker=WM%20US">
    </iframe>

  </body>

</html>